@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12 col-md-12">
        <button onclick="createIndex();" class="btn btn-success">Create index</button>
        <button onclick="deleteIndex();" class="btn btn-danger">Delete index</button>
    </div>
    <div class="col-12 col-md-12">
        <div class="input-group mb-3 mt-5">
            <input id="txtAmount" type="number" max="100000" min="1" class="form-control" placeholder="Enter the amount" aria-label="" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button onclick="seedData(this);" class="btn btn-outline-primary" type="button">Seed data</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12">
        <table class="table table-bordered" id="myTable"></table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function createIndex() {
            $.ajax({
                type: "GET",
                url: "/Home/CreateIndex",
                success: function (response) {
                    console.log(response)
                    if (response.isSuccess) {
                        alert(response.message);
                    } else {
                        alert(response.message);
                        console.log(response)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
        function deleteIndex() {
            $.ajax({
                type: "GET",
                url: "/Home/DeleteIndex",
                success: function (response) {
                    console.log(response)
                    if (response.isSuccess) {
                        alert(response.message);
                    } else {
                        alert(response.message);
                        console.log(response)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
        function seedData(_this) {
            $(_this).attr('disabled', 'disabled');
            $(_this).text('Processing...');
            $.ajax({
                type: "GET",
                url: "/Home/SeedData?length=" + parseInt($('#txtAmount').val()),
                success: function (response) {
                    $(_this).removeAttr('disabled');
                    $(_this).text('Seed data');
                    console.log(response)
                    if (response.isSuccess) {
                        alert(response.message);
                    } else {
                        alert(response.message);
                        console.log(response)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    $(_this).removeAttr('disabled');
                }
            });
        }
    </script>
}